section#about
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Was ist neu im Web?
        h3.section-subheading.text-muted Auch diesen Oktober treffen sich wieder Interessierte aus Wirtschaft, NGOs und der FH
    .row
      .col-md-8.col-md-offset-2
        .fluid-width-video-wrapper
          iframe(
            width="640",
            height="360",
            src="//www.youtube-nocookie.com/embed/jjm8lmZwzT0?rel=0",
            frameborder="0",
            allowfullscreen
          )
    br
    br
    .row
      .col-md-8.col-md-offset-2
        include:markdown about.md
    .row
      .col-md-8.col-md-offset-2
        h2 Result of Fridays Session Planning
    .row
      .col-md-5.col-md-offset-1
        p Friday
        ul
          li 10:00  practical keynote: javascript magic
          li 12:00  lightning talks
          li 13:00  lunch
          li 13:30  research keynote: music and emotion
          li 14:20  infrastructure as code - one year later
          li 14:40  understanding logs with the elastic stack
          li 15:00  cssplexity - code metrics for css
          li 15:30  how to build teams that learn
          li 16:00  serverless architectures
          li 16:30  android UI testing
          li 17:00  how to start a startup - with y accellerator
          li 17:30  break  
          li 18:00  sponsor exhibition, food and drinks 
      .col-md-6.col-md
        p Saturday
        ul
          li 10:00  session re-planning + lightning talks
          li 11:00  continuous integration for the frontend
          li 11:30  react.js introduction
          li 12:00  durable CSS with ECSS
          li 12:30  load testing
          li 13:00  break for lunch at FAGO
          li 14:00  Amazon Elastic Beanstalk
          li 14:30  choo (choo)
          li 15:00  twitter bots
          li 15:30  windows subsystem for linux
          li 16:00  retrospective + clean up
          li 16:42  doors close
    .row
      .col-md-8.col-md-offset-2
        .lanyrd-target-schedule
          a(
            href='http://lanyrd.com/2016/barcamp-salzburg-october/schedule/',
            class='lanyrd-schedule',
            data-lanyrd-nolink,
            data-lanyrd-nostyles,
          )
