section#keynotes
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Keynotes      
    .row#connolly
      .col-lg-12
        .row
          .col-md-6
            .team-member
              img.img-responsive.img-circle(
                src='images/speakers/randy_connolly.jpg',
                srcset='images/speakers/randy_connolly@2x.jpg 2x, images/speakers/randy_connolly@3x.jpg 3x',
                alt='Randy Connolly'
              )
              h4 Randy Connolly
              p.text-muted
                a(href='http://www.mtroyal.ca/') Mount Royal University, Canada
              ul.list-inline.social-buttons
                li
                  a(href='http://www.randyconnolly.com/')
                    i.fa.fa-globe          
          .col-lg-6
            br
            br
            include:markdown keynote1.md
      .row#mautner
        .col-lg-12
          .row
            .col-md-6
              .team-member
                img.img-responsive.img-circle(
                  src='images/speakers/julian_mautner.jpg',
                  srcset='images/speakers/julian_mautner@2x.jpg 2x',
                  alt='Julian Mautner',
                  width='400',
                  height='289'
                )
                h4 Julian Mautner
                p.text-muted
                  a(href='http://stillalive-studios.com/') StillAlive Studios
                ul.list-inline.social-buttons
                  li
                    a(href='https://twitter.com/JulianMautner')
                      i.fa.fa-twitter        
            .col-lg-6
              br
              br         
              include:markdown keynote2.md