section#keynotes
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Keynotes November 2018  
    //- .row#morning
        .col-lg-12
          .row
            .col-md-6
              .team-member
                img.img-responsive.img-circle(
                  src='images/speakers/julian_mautner.jpg',
                  srcset='images/speakers/julian_mautner@2x.jpg 2x',
                  alt='Julian Mautner',
                  width='400',
                  height='289'
                )
                h4 Julian Mautner
                p.text-muted
                  a(href='http://stillalive-studios.com/') StillAlive Studios
                ul.list-inline.social-buttons
                  li
                    a(href='https://twitter.com/JulianMautner')
                      i.fa.fa-twitter        
            .col-lg-6
              br
              br         
              include:markdown keynote1.md        
    .row#afternoon
      .col-lg-12
        .row
          .col-md-6
            .team-member
              img.img-responsive.img-circle(
                width='225',
                height='225',
                src='images/speakers/michael_domhardt.jpg',
                srcset='images/speakers/michael_domhardt@2x.jpg 2x',
                alt='Michael Domhardt'
                id='vierfach1'
              )
              img.img-responsive.img-circle(
                width='225',
                height='225',
                src='images/speakers/hilmar_linder.jpg',
                srcset='images/speakers/hilmar_linder@2x.jpg 2x',
                alt='Hilmar linder'
                id='vierfach2'
              )
              img.img-responsive.img-circle(
                width='225',
                height='225',
                src='images/speakers/maria_akesson.jpg',
                alt='Maria Åkesson'
                id='vierfach3'
              )
              img.img-responsive.img-circle(
                width='225',
                height='225',
                src='images/speakers/michel_thomsen.jpg',
                alt='Michel Thomsen'
                id='vierfach4'
              )              
              h4 Hilmar&nbsp;Linder, Michael&nbsp;Domhardt, Michel&nbsp;Thomson&nbsp;and&nbsp;Maria&nbsp;Åkesson 
              p.text-muted
                a(href='http://www.fh-salzburg.ac.at/') FH Salzburg
                | &nbsp;
                a(href='https://www.hh.se/') Högskolan i Halmstad         
          .col-lg-6
            br
            br
            include:markdown keynote2.md
