section#speakers
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Halte einen Vortrag
        h3.section-subheading.text-muted Der Inhalt wird von den Teilnehmer*innen bestimmt. Das Barcamp lebt von deiner Beteiligung.
    .row
      .col-md-8.col-md-offset-2
        include:markdown speakers.md
    br
    br
    .row
      .col-lg-6
        .row#tamas
          .col-lg-12.text-center
            img(
            src='images/logos/marklogic.jpg',
            alt='MarkLogic'
            )
            br
            br
            
        .row
          .col-md-12.portfolio-item
            span.portfolio-link.text-center
              img(
              src='images/speakers/tamas.jpg',
              srcset='images/speakers/tamas@2x.jpg 2x',
              alt='Tamas Piros',
              width='400',
              height='289'
              )
            .portfolio-caption
              h4 Tamas Piros
              p.text-muted
                a(href='http://www.marklogic.com/') MarkLogic
              ul.list-inline.social-buttons
                li
                  a(href='https://twitter.com/tpiros')
                    i.fa.fa-twitter
                li
                  a(href='https://github.com/tpiros')
                    i.fa.fa-github-alt
              br
              br
              .section-subheading.text-muted.
                Tamas is a full stack web developer turned technical instructor. Tamas has a decade of experience working with large, prestigious multinational IT / telecommunications and media organisations such as Verizon, Panasonic, BBC and Accenture. Throughout his career Tamas has delivered training classes all over the world to both technical and non-technical audiences.

      .col-lg-6
        .row#rubenz
          .col-lg-12.text-center
            img(
            src='images/logos/design_rubenz.jpg',
            alt='design.rubenz'
            )
            br
            br

        .row
          .col-md-12.portfolio-item
            span.portfolio-link.text-center
              img(
              src='images/speakers/johannes.jpg',
              srcset='images/speakers/johannes@2x.jpg 2x',
              alt='Johannes Rubenz',
              width='289',
              height='289'
              )
            .portfolio-caption
              h4 Johannes Rubenz
              p.text-muted
                a(href='http://design.rubenz.at/') design.rubenz
              ul.list-inline.social-buttons
                li
                  a(href='https://twitter.com/j_rubenz')
                    i.fa.fa-twitter
                li
                  a(href='https://github.com/designrubenz')
                    i.fa.fa-github-alt
                li
                  a(href='http://design.rubenz.at/')
                    i.fa.fa-globe
              br
              br
              .section-subheading.text-muted.
                Johannes is a web developer in Salzburg running his own company, design.rubenz, in its 7th year. He loves coding, learning/teaching and being an active member of the webdev community.
      //
        .col-lg-6                  
          .row#passing
            .col-lg-12.text-center
              img(
              src='images/logos/travis-ci@2x.jpg',
              alt='Travis CI'
              )
              br
              br
              .section-subheading.text-muted.
                Lisa Passing is a frontend developer at Travis CI and a community
                organizer in Berlin active in Diaspora, Crypto Party, Rails Girls.
              br
              br

          .row
            .col-md-12.portfolio-item
              span.portfolio-link.text-center
                img(
                src='images/speakers/lisa_passing.jpg',
                srcset='images/speakers/lisa_passing@2x.jpg 2x',
                alt='Lisa Passing',
                width='400',
                height='289'
                )
              .portfolio-caption
                h4 Lisa Passing
                p.text-muted
                  a(href='https://travis-ci.org/') Travis CI
                ul.list-inline.social-buttons
                  li
                    a(href='https://twitter.com/travisci')
                      i.fa.fa-twitter
                  li
                    a(href='https://github.com/lislis')
                      i.fa.fa-github-alt
