section#speakers
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Halte einen Vortrag
        h3.section-subheading.text-muted Der Inhalt wird von den Teilnehmer*innen bestimmt. Das Barcamp lebt von deiner Beteiligung.
    .row
      .col-md-8.col-md-offset-2
        include:markdown speakers.md

    .row
      .col-md-8.col-md-offset-2.text-center
        br
        br
        a.btn.btn-primary(type='button', href='http://barcamp-sbg.herokuapp.com/')
          | Deinen Vortrag eintragen
        br
        br
        br
      
    .row
      //
        .col-lg-6
          .row#videla
            .col-lg-12.text-center
              img(
              src='images/logos/rabbitmq.jpg',
              alt='Rabbit MQ'
              ).img-responsive
              br
              br
              .section-subheading.text-muted.
                Alvaro Videla co-authored the book RabbitMQ in Action for Manning Publishing.
              br
              br
      
          .row
            .col-md-12.portfolio-item
              span.portfolio-link.text-center
                img(
                src='images/speakers/alvaro_videla.jpg',
                srcset='images/speakers/alvaro_videla@2x.jpg 2x',
                alt='Alvaro Videla',
                width='400',
                height='289'
                )
              .portfolio-caption
                h4 Alvaro Videla
                p.text-muted
                  a(href='https://www.rabbitmq.com/') RabbitMQ
                ul.list-inline.social-buttons
                  li
                    a(href='https://twitter.com/old_sound')
                      i.fa.fa-twitter
                  li
                    a(href='https://github.com/videlalvaro')
                      i.fa.fa-github-alt
                  li
                    a(href='https://videlalvaro.github.io/')
                      i.fa.fa-globe
        
      .col-lg-6
        .row#karisch
          .col-lg-12.text-center
            img(
            src='images/logos/pixelart-white.jpg',
            alt='Pixelart'
            )
            br
            br
            .section-subheading.text-muted.
              Patrik Karisch is a PHP backend developer specialized in Symfony at pixelart and open source enthusiast. If he's not coding he cooks ridiculous good food.
            br
            br

        .row
          .col-md-12.portfolio-item
            span.portfolio-link.text-center
              img(
              src='images/speakers/patrik_karisch.jpg',
              srcset='images/speakers/patrik_karisch@2x.jpg 2x',
              alt='Patrik Karisch',
              width='400',
              height='289'
              )
            .portfolio-caption
              h4 Patrik Karisch
              p.text-muted
                a(href='http://www.pixelart.at/de/') Pixelart
              ul.list-inline.social-buttons
                li
                  a(href='https://twitter.com/PatrikKarisch')
                    i.fa.fa-twitter
                li
                  a(href='https://github.com/patkar')
                    i.fa.fa-github-alt
                li
                  a(href='http://www.karisch.guru')
                    i.fa.fa-globe

      .col-lg-6                  
        .row#passing
          .col-lg-12.text-center
            img(
            src='images/logos/travis-ci@2x.jpg',
            alt='Travis CI'
            )
            br
            br
            .section-subheading.text-muted.
              Lisa Passing is a frontend developer at Travis CI and a community
              organizer in Berlin active in Diaspora, Crypto Party, Rails Girls.
            br
            br
    
        .row
          .col-md-12.portfolio-item
            span.portfolio-link.text-center
              img(
              src='images/speakers/lisa_passing.jpg',
              srcset='images/speakers/lisa_passing@2x.jpg 2x',
              alt='Lisa Passing',
              width='400',
              height='289'
              )
            .portfolio-caption
              h4 Lisa Passing
              p.text-muted
                a(href='https://travis-ci.org/') Travis CI
              ul.list-inline.social-buttons
                li
                  a(href='https://twitter.com/travisci')
                    i.fa.fa-twitter
                li
                  a(href='https://github.com/lislis')
                    i.fa.fa-github-alt
                
