section#sponsors
  .container
    .row
      .col-md-12.text-center
        h2.section-heading Barcamp Sponsor November 2018
        h3.section-subheading.text-muted
          | Die Tickets sind – danke Sponsor – gratis!
    .row
      .col-xs-12.text-center
        .row.sponsor-wrapper
          a.sponsor.col-md-3(
          href='http://fh-salzburg.ac.at/',
          title='University of Applied Science Salzburg'
          )
            img.img-responsive.img-centered(
            width='100%',
            height='auto',
            src='images/logos/fh.jpg',
            srcset='images/logos/fh@2x.jpg 2x',
            alt='University of Applied Sciences Salzburg'
            )
    .row.biggest
      .col-md-12.text-center
        h3.section-subheading.text-muted
          | Wir brauchen deine Unterstützung. Hier findest du unser aktuelles&nbsp;
          a(href="/images/sponsoring.pdf") Sponsordokument  
          | .
