section#team.bg-light-gray
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Euer Team
        h3.section-subheading.text-muted Das Barcamp wird von uns für euch organisiert
    .row
      .col-sm-6
        .team-member
          img.img-responsive.img-circle(
            width='225',
            height='225',
            src='images/team/brigitte.jpg',
            srcset='images/team/brigitte@2x.jpg 2x',
            alt='Brigitte Jellinek'
          )
          h4 Brigitte Jellinek
          p.text-muted Web Development
          ul.list-inline.social-buttons
            li
              a(href='https://twitter.com/bjelline')
                i.fa.fa-twitter
            li
              a(href='https://github.com/bjelline')
                i.fa.fa-github-alt
            li
              a(href='https://brigitte-jellinek.at/')
                i.fa.fa-globe
      .col-sm-6
        .team-member
          img.img-responsive.img-circle(
            width='225',
            height='225',
            src='images/team/radomir.jpg',
            alt='Radomir Dinic'
          )
          h4 Radomir Dinic
          p.text-muted Game Development
          ul.list-inline.social-buttons
            li
              a(href='https://www.linkedin.com/in/radomir-dinic-830507a0')
                i.fa.fa-linkedin
            li
              a(href='https://www.facebook.com/dotnut')
                i.fa.fa-facebook
