section#team.bg-light-gray
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Euer Team
        h3.section-subheading.text-muted Das Barcamp wird von uns für euch organisiert
    .row
      .col-sm-6
        .team-member
          img.img-responsive.img-circle(
            width='225',
            height='225',
            src='images/team/brigitte.jpg', 
            srcset='images/team/brigitte@2x.jpg 2x', 
            alt='Brigitte Jellinek'
          )
          h4 Brigitte Jellinek
          p.text-muted Session Planning
          ul.list-inline.social-buttons
            li
              a(href='https://twitter.com/bjelline')
                i.fa.fa-twitter
            li
              a(href='https://github.com/bjelline')
                i.fa.fa-github-alt
            li
              a(href='https://brigitte-jellinek.at/')
                i.fa.fa-globe
      .col-sm-6
        .team-member
          img.img-responsive.img-circle(
            width='225',
            height='225',
            src='images/team/patrick.jpg', 
            srcset='images/team/patrick@2x.jpg 2x', 
            alt='Patrick Obermüller'
          )
          h4 Patrick Obermüller
          p.text-muted Interviews
          ul.list-inline.social-buttons
            li
              a(href='https://www.linkedin.com/in/patrick-obermueller/')
                i.fa.fa-linkedin
            li
              a(href='https://www.facebook.com/patrick.obermueller')
                i.fa.fa-facebook
